@import url("https://fonts.googleapis.com/css?family=Mukta:300,400,700");
.tooltip,
.container__sources:before {
  position: absolute;
  right: 0;
  bottom: 100%;
  color: #fff;
  background: #ffb238;
  text-transform: uppercase;
  font-size: 0.9rem;
  padding: 0.25rem 0.75rem;
  border-radius: 2.5px;
}
.card,
.container__sources div {
  line-height: 2;
  background: #fff;
  padding: 1.2rem 1rem;
  border-radius: 4px;
  box-shadow: 0 2px 10px #e6e6e6;
}

.container {
  margin: 5vh 2.5vw;
  background: #fff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  font-family: 'Mukta', sans-serif;
  margin: 0;
  padding: 0;
}
.container svg {
  height: 5rem;
}
.container svg line {
  stroke: #5f39dd;
  stroke-width: 3px;
  stroke-linecap: round;
  stroke-dasharray: 2px 20px;
  animation: animateline 5s linear both infinite;
}

.container .step {
  width: 150px;
  min-height: 100px;
}

.container h3{
  font-size: 1.1rem;
  color: #411fb2;
  margin: 0;
  padding: 0;
}
.container p{
  font-size: 0.95rem;
  font-weight: 300;
  margin: 0;
  padding: 0;
}
.container__sources {
  display: flex;
  border-radius: 8px;
  padding: 1.5rem;
  background: #ffffff;
  position: relative;
}
.container__sources:before {
  background: #4B8BBE;
  content: 'Pipeline';
}
.container__sources div {
  text-align: left;
  margin: 0 1rem;
}

@media (max-width: 700px) {
  .container__sources {
    flex-direction: column;
  }
  .container__sources div {
    margin: 1rem 0;
  }
}
@-moz-keyframes animateline {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -5rem;
  }
}
@-webkit-keyframes animateline {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -5rem;
  }
}
@-o-keyframes animateline {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -5rem;
  }
}
@keyframes animateline {
  from {
    stroke-dashoffset: 0;
  }
  to {
    stroke-dashoffset: -5rem;
  }
}
